#div__p{
    background: rgb(149,213,230);
    background: linear-gradient(180deg, rgba(149,213,230,1) 0%, rgba(24,174,220,1) 36%, rgba(16,93,116,1) 84%);
}

#titulo__p{
    font-weight: bold;
    font-size: 50px;
    color: #194ac7;
    text-align: center;
    margin: 25px 0 10px 0;
    font-family: 'Montserrat', sans-serif;
}

#paragrafo__p{
    font-size: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0 0 10px;
}
#img__p{
    display: block;
    margin: 0px auto;
}
