.diagrama {
    background: linear-gradient(#53bce5, #428bc3, #b717c5);
    width: 100%;
}    

.diagrama h2 {
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    
}

.diagrama p {
    font-size: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0 0 10px;
    color: #ffffff;
}

.diagrama h3 {
    position: relative;
    padding: 15px 120px 15px 120px;
    

}

.diagrama ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    display: inline-block;
    margin: 15px 0 15px 20px;
    color: #ffffff;
}

.diagrama li:before {
    content: "-";
    margin: 10px;
    color: #ffffff;
}