#div__p{
    background: rgb(149,213,230);
    background: linear-gradient(#53bce5, #428bc3, #b717c5);
}

#titulo__p{
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

#paragrafo__p{
    font-size: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0 0 10px;
    color: #ffffff;
}
#img__p{
    display: block;
    margin: 0px auto;
}
