.equipe {
    background: linear-gradient(#53bce5, #428bc3, #b717c5);
    width: 100%;
}

.equipe h2 {
    font-weight: bold;
    font-size: 45px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;   
}

.equipe p {
    font-size: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0 0 10px;
    color: #ffffff;
}

.equipe h3 {
    padding-left: 95px;
}
